.root {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.row label {
	flex: 0 0 40px;
}

.row input {
	flex: auto;
}

.row button {
	flex: 0 0 60px;
	padding: 0 5px !important;
}

.row > * {
	margin: 0;
}

.row > *:not(:last-child) {
	margin-right: 10px;
}

@media (min-width: 700px) {
	.row label {
		flex-basis: 90px;
	}

	.row button {
		flex-basis: 120px;
		padding: 0 30px !important;
	}
}
