.root {
	padding: 10px;
	color: #555;
	font-family: Helvetica, Arial;
	font-size: 16px;
	display: flex;
	flex-direction: column;

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.controlsWrapper {
	flex: 0 0 auto;
}

.boardWrapper {
	flex: 1 0 auto;
	border: 1px solid #eee;
	text-align:center;
	line-height: 50px;
}

.root button, .root input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	font-family: inherit;
}

.root button {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #555;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #bbb;
	cursor: pointer;
}

.root button:hover, .root button:focus {
	color: #333;
	border-color: #888;
	outline: 0;
}

.root :global(.button-primary) {
	color: #FFF;
	background-color: #33C3F0;
	border-color: #33C3F0;
}

.root :global(.button-primary):focus, .root :global(.button-primary):hover {
	color: #FFF;
	background-color: #1EAEDB;
	border-color: #1EAEDB;
}

.root input {
	height: 38px;
	padding: 6px 10px;
	background-color: #fff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

.root input:focus {
	border: 1px solid #33C3F0;
	outline: 0;
}
